# Ignore everything
/*

# But not these files...
!.gitignore
!README.md
!LICENSE

# ...and not these directories...
!assets/
!assets/logo.png

# ...and not the GitHub Pages workflow
!.github/
.github/*
!.github/workflows/
.github/workflows/*
!.github/workflows/deploy-github-pages.yml
