# Ignore everything
/*

# But not these files...
!.gitignore
!README.md
!LICENSE
!DEPLOYMENT.md
!FIREBASE-SETUP.md

# ...and not these directories...
!docs/
!client/
client/*
!client/public/
client/public/*
!client/public/images/
client/public/images/*
!client/public/images/logo.png

# ...and not the GitHub Pages workflow
!.github/
.github/*
!.github/workflows/
.github/workflows/*
!.github/workflows/deploy-github-pages.yml
